<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		layout:decorate="~{fragments/layout}">
	<head>
		<meta charset="utf-8">
		<title>Fluxo de receita</title>
		<script th:src="@{/js/financeiro/fluxoreceita/fluxoreceita.js}"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	</head>

	<body>
		<section layout:fragment="content">
			<div class="row">
				<h3 class="col">Fluxo de receitas do Clube do Livro</h3>
			</div>
			
			<div id="main">
				<form id="filtrar" th:fragment="index">
					<div class="form-group row">
						<label class="col-sm-1 col-form-label">Mês inicial</label>
						<div class="col-sm-2">
							<select class="form-control" id="mesInicial" name="mesInicial">
								<option></option>
								<option th:each="mes : ${meses}" th:value="${mes.id}" th:text="${mes.nome}"></option>
							</select>
						</div>
						<label class="col-sm-1 col-form-label">Ano inicial</label>
						<div class="col-sm-1">
							<input autocomplete="off" class="form-control" th:min="${anoMinimo}" th:max="${anoMaximo}" type="number" id="anoInicial" name="anoInicial">
						</div>
						<label class="col-sm-1 col-form-label">Mês final</label>
						<div class="col-sm-2">
							<div>
								<select class="form-control" id="mesFinal" name="mesFinal">
									<option></option>
									<option th:each="mes : ${meses}" th:value="${mes.id}" th:text="${mes.nome}"></option>
								</select>
							</div>
						</div>
						<label class="col-sm-1 col-form-label">Ano final</label>
						<div class="col-sm-1">
							<input autocomplete="off" class="form-control" th:min="${anoMinimo}" th:max="${anoMaximo}" type="number" id="anoFinal" name="anoFinal">
						</div>
						<div class="col-sm">
							<button type="reset" class="btn btn-secondary">
								<span class="icon-eraser"></span>
								<span>Limpar</span>
							</button>
							<button type="button" onclick="pesquisar()" class="btn btn-primary" >
								<span class="icon-filter"></span>
								<span>Filtrar</span>
							</button>
						</div>
					</div>
				</form>
				
				<div class="modal fade" id="modalGrafico" tabindex="-1" role="dialog" aria-labelledby="graficoTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header" style="display:none"></div>
							<div class="modal-body">
								<div id="grafico"></div>
							</div>
							<div class="modal-footer" style="display:none"></div>
						</div>
					</div>
				</div>
				
				<div id="resultadoPesquisa"></div>
				
			</div>
		</section>
	</body>
</html>