<template>
  <spinner is-loading.bind="carregando" huge.bind="false"></spinner>
  <div class="row">
      <h3 class="col">Boletos do Clube do Livro</h3>
  </div>
  <form>
      <div class="form-group row">
        <div class="col-sm-8">
          <label>Sacado</label>
          <input class="form-control" disabled type="text" value.bind="boleto.sacado.pessoa.nome">
        </div>
        <div class="col-sm-4">
          <label>Data de emissão</label>
          <input class="form-control" disabled type="text" value.bind="boleto.emissao | dateconverter">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <label>Número do boleto</label>
          <input class="form-control" disabled type="text" value.bind="boleto.numeroBeneficiario">
        </div>
        <div class="col-sm-4">
          <label>Número do banco</label>
          <input class="form-control" disabled type="text" value.bind="boleto.numeroBanco">
        </div>
        <div class="col-sm-4">
          <label>Valor nominal</label>
          <input class="form-control" disabled type="text" value.bind="boleto.valorNominalStr">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <label>Data de vencimento</label>
          <input class="form-control" disabled type="text" value.bind="boleto.vcto | dateconverter">
        </div>
        <div class="col-sm-4">
          <label>Data de pagamento</label>
          <input class="form-control" maxlength="10" minlength="10" type="text" value.bind="boleto.pgto | dateconverter"
              pattern="^(?:(?:31(\/)(?:0[13578]|1[02]))\1|(?:(?:29|30)(\/)(?:0[1,3-9]|1[0-2])\2))(?:(?:19|20)\d{2})$|^(?:29(\/)(?:0?2)\3(?:(?:(?:19|20)(?:0[048]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0[1-9]|1\d|2[0-8])(\/)(?:(?:0[1-9])|(?:1[0-2]))\4(?:(?:19|20)\d{2})$">
        </div>
        <div class="col-sm-4">
          <label>Valor pago</label>
          <input autocomplete="off" class="form-control" blur.trigger="onBlurValorPgto()" type="text" value.bind="boleto.valorPagoStr">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <label>Valor tarifa</label>
          <input autocomplete="off" class="form-control" blur.trigger="onBlurValorTarifa()" type="text" value.bind="boleto.valorTarifaStr">
        </div>
        <div class="col-sm-4">
          <label>Valor creditado</label>
          <input autocomplete="off" class="form-control" disabled type="text" value.bind="boleto.valorCreditadoStr">
        </div>
        <div class="col-sm-4">
          <label>Data de efetivação de crédito</label>
          <input class="form-control" maxlength="10" minlength="10" type="text" value.bind="boleto.efetivacaoCredito | dateconverter"
              pattern="^(?:(?:31(\/)(?:0[13578]|1[02]))\1|(?:(?:29|30)(\/)(?:0[1,3-9]|1[0-2])\2))(?:(?:19|20)\d{2})$|^(?:29(\/)(?:0?2)\3(?:(?:(?:19|20)(?:0[048]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0[1-9]|1\d|2[0-8])(\/)(?:(?:0[1-9])|(?:1[0-2]))\4(?:(?:19|20)\d{2})$">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-1">
          <button type="button" class="btn btn-primary " click.delegate="onClickSalvar()">
            <span class="icon-floppy-o"></span>
            <span>Salvar</span>
          </button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-secondary" click.delegate="onClickCancelar()">
            <span class="icon-reply"></span>
            <span>Cancelar</span>
          </button>
        </div>
      </div>
  </form>
</template>
